#body-content-experience {
  .portfolio-piece {
    .logo {

      @extend .pull-right;
      border: rgba(57,57,57,0.7) solid 1px;
      margin: 15px;

      img {
        max-width: 180px;
      }
    }
  }
}