#body-content-portfolio {
  .portfolio-item {
    margin: 20px 0;
    .preview {
      @extend .col-sm-3;

      text-align: center;
      a {
        display: inline-block;
      }
    }
    .caption {
      @extend .col-sm-9;
      h3 {
        margin-top: 0;
      }
    }
  }
}