#body-content-skills {
  .xp-bar {
    height: 24px;
    background: #E3E3E3;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid #B3B3B3;
    .xp-bar-progress {
      float: left;
      width: 0;
      height: 100%;
      line-height: 20px;
      text-align: center;
      -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      -webkit-transition: width 0.6s ease;
      -o-transition: width 0.6s ease;
      transition: width 0.6s ease;
      background-color: #f37215;
      color: #FFF;
      font-size: 18px;
      padding-top: 2px;
    }
  }
}