
header {

  h2 {
    position: absolute;

    background: rgba(0, 0, 0, 0);

    z-index: 999999;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    -webkit-animation: appear 3s ease 0s 1 normal;
    animation: appear 3s ease 0s 1 normal;

    color: #FFF;
    text-align: right;
    padding: 0.5em;

    text-transform: uppercase;
    font-size: 25px;
    top: 60%;
    right: 10%;

    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

  }

  @media screen and (min-width: 768px) {
    h2 {
      font-size: 45px;
      -webkit-animation: appearlarge 3s ease 0s 1 normal;
      animation: appearlarge 3s ease 0s 1 normal;
      right: 5%;
    }

  }
  @-webkit-keyframes appearlarge {
    0% {
      opacity: 0;
      font-size: 1pt;
    }
    80% {
      opacity: 1;
      font-size: 55px;
    }
  }

  @keyframes appearlarge {
    0% {
      opacity: 0;
      font-size: 1pt;
    }
    80% {
      opacity: 1;
      font-size: 55px;
    }
  }

  @-webkit-keyframes appear {
    0% {
      opacity: 0;
      font-size: 1pt;
    }
    80% {
      opacity: 1;
      font-size: 32px;
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
      font-size: 1pt;
    }
    80% {
      opacity: 1;
      font-size: 32px;
    }
  }

  #navbar-primary {
    width: 100%;
    z-index: 999999999;
    background: #FFF;
  }

  @media screen and (min-width: 768px) {
    #navbar-primary {
      position: fixed;
      left: 0;
      top: 10px;
      background: transparent;
    }
    #navbar-primary .navbar-nav {
      width: 100%;
      text-align: center;
    }
    #navbar-primary .navbar-nav li {
      display: inline-block;
      float: none;
      padding: 0;
      margin: -2px;
    }
    #navbar-primary .navbar-nav a {
      padding: 15px 20px;
      font-family: 'Josefin Sans', sans-serif;
      text-transform: uppercase;
      background: #FFF;
      color: #333;
      margin: 0;
      border-width: 1px 0 1px 0;
      border-color: #666;
      border-style: solid;
    }
    #navbar-primary .navbar-nav .logo a {
      border-radius: 10px;
    }
    #navbar-primary .navbar-nav li:first-child a {
      border-radius: 10px 0 0 10px;
    }
    #navbar-primary .navbar-nav li:last-child a {
      border-radius: 0 10px 10px 0;
    }
  }

  .video-info {
    position: relative;
    margin-top: -50px;
    margin-left: 10px;
    color: #FFF;
    font-size: 30px;
    z-index: 999999;

    .video-details {
      position: absolute;
      font-size: 1.8rem;
      left: 40px;
      top: 0;
      padding: 8px;
      width: 70%;
      background: #DDF;
      color: #333;
      border: 1px solid;

      a {
        color: #333;
        text-decoration: underline;
      }

      @media (min-width: $screen-sm-min) {
        width: 40%;
      }
    }
  }
}