
// Body
$body-bg: #f5f8fa;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "PT Sans Narrow", sans-serif;
$headings-font-family: "Josefin Sans", sans-serif;
$font-size-base: 18px;
$line-height-base: 1.6;
$text-color: #636b6f;
